[*.cs]

# IDE0018
csharp_style_inlined_variable_declaration = false

# IDE0063
csharp_prefer_simple_using_statement = false

# IDE0071
dotnet_style_prefer_simplified_interpolation = false

# IDE0090
csharp_style_implicit_object_creation_when_type_is_apparent = false
